<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Ligularity</title>
</head>
<style>
    /* Evenly Spaced Horizontal Nav Bar in Flex  */
    nav {
        display: flex;
        justify-content: space-evenly;
        background-color: #f0f0f0;
        padding: 10px;
    }
</style>

<nav>
    <a href="/">Home</a>
    <br>
    <a href="/languages/index">Languages</a>
    <br>
    <a href="/languages/new">Create a new language</a>
</nav>

<body>
    <h1>Welcome to The Ligularity</h1>
    <p>An app that lets you build new languages from scratch!</p>
</body>
</html>